*{
    margin: 0;
    border: 0;
}

.ecommerce{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "menu main main main"
    "footer footer footer footer";
    height: 100vh;
}

header{
    background-position: center;
    background-size: cover;
    grid-area: header;
    background-image: url(../img/img-header.jpg);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h1{
    font-size: 3em;
    color: white;
    padding: 1em;;
}

.tools{
    grid-area: menu;
    background-color: rgba(255, 166, 0, 0.548);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.title-one{
    width: 90%;
    padding-left: 1em;
    height: 50px;
}

.category-one{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 1em;
}

.category-one a{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


main{
    grid-area: main;
    background-color: rgba(255, 166, 0, 0.548);
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    padding:1.25em;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
}

.card img{
    width: 100%;
    height: 100%;
}

.card p{
    background-color: white;
    width: 100%;
    font-size: 1.25em; 
}

.card a{
    background-color: orangered;
    width: 100%;
    font-size: 1.5em;
}

.trademark{
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 1em;    
}